.idea/**
CLI/.idea
CLI/dist
**/__pycache__

**/node_modules/**
**/venv/**
backend/migration/.env

**/swagger-spec.json
queueConsumer/src/artifactUpload/anymal-grand-tour-3b7a5d0c8ef4.json
/.eslintcache


*.tsbuildinfo
dist/
packages/*/dist/

# Lockfiles for npm and pnpm, we are using yarn
**/package-lock.json
docs/development/api/generated/
docs/development/application-structure/postgres.md
docs/development/application-structure/postgres.md
.claude/
.zread/
