prod_dbpassword=
dev_dbpassword=
local_dbpassword=dbuserpass

prod_port=
dev_port=
local_port=5432

prod_dbname=
dev_dbname=
local_dbname=dbname

prod_dbuser=
dev_dbuser=
local_dbuser=dbuser

prod_dbhost=
dev_dbhost=
local_dbhost=localhost

prod_ssl=true
dev_ssl=true
local_ssl=false
